.vscode/**
.vscode-test.js
out/test/**
src/**
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github
*.vsix
test-resx
esbuild.js
out/ResXEditorProvider.js
assets/*
!assets/icon.png
editor/**
bun.lockb
node_modules/**