.vscode
.vscode-test.js
.github

src/**
node_modules/**
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.vsix
test-resx
esbuild.mjs

assets/*
!assets/icon.png

editor/**

out/*.js
!out/extension.js
out/test/**