.vscode/**
.vscode-test.js
out/test/**
src/**
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github
*.vsix
test-resx
esbuild.js
out\ResXEditorProvider.js
assets\screenshot.png
assets\icon.svg
editor/**
bun.lockb